/*
Marlon Torres
Filename: main.css
October 9, 2014
*/


/*-------------------------------- Table of Content ----------------------------------- */

/*	#Page Styles
	#Header Styles
	#Link Styles
	#Footer */

/*------------------------------------------ #Page Styles ----------------------------------- */
body {
	font: 100%;  /*-- 100% = 16px --*/
	width: 100%;
    background: #dadada;
	background-repeat: no-repeat;
    margin: 0 auto; /* Centers my page */
}

#container {
	position: relative;
	background-color: #dadada;
    max-width: 960px;
    margin: 1% auto 1% auto;
    padding: 20px;
}

div#logo {
	float: left;
}

nav {
	float: right;
	margin-top: 25px;
	margin-right: 20px;
}

section#cta {	
	margin-top: 150px;
}

div#col1 {
	width: 26.041667%;
	height: 200px;
	background: #00a6b6;
	float: left;
	margin: 10px 30px 0 30px;
	text-align: center;
}

div#col2 {
	width: 26.041667%;
	height: 200px;
	background: #00a6b6;
	float: left;
	margin: 10px 30px 0 30px;
	border-radius: 5px;
	text-align: center;
}

div#col3 {
	width: 26.041667%;
	height: 200px;
	background: #00a6b6;
	float: left;
	margin: 10px 30px 0 30px;
	border-radius: 5px;
	text-align: center;
	clear: right;
}

.login-btn  {
	background-color: #d76817;
	width: 150px;
	height: 30px;
	color: #fff;
    border: 0;
    font-size: 14px;
    display: block;
	margin: 0 auto;
    text-transform: uppercase;
	cursor: pointer;
}

button.login-btn {
	text-decoration: none;
}

/*------------------------------------------ #Header Styles ----------------------------------- */

h1 {
    color: #000;
    font: normal normal 1.5em Verdana, Geneva, sans-serif;  /* font converted to em - size 24px/16px = 1.5em*/
    padding: 20px;
}

h2 {
    color: #000;
    font: normal normal 1.125em Verdana, Geneva, sans-serif; /* font converted to em - size 18px/16px = 1.125em*/
}

h2#features {
	text-align: center;
	margin: 30px 0; 30px 0;
}

h3 {
    color: #0000ff;
    font: normal normal bold .875em Verdana, Geneva, sans-serif; /* font converted to em - size 14px/16px = .875em*/
	text-align: center;
}

h4 {
    color: #000;
    font: normal small-caps .75em Verdana, Geneva, sans-serif; /* font converted to em - size 12px/16px = .75em*/
	text-align: center;
    padding: 20px;
}

p {
	font: normal normal .75em/1.5em Verdana, Geneva, sans-serif; /* font converted to em - size 12px/16px = .75em*/
	margin-left: 20px;
}


/*------------------------------------------ #Image Styles ----------------------------------- */
img {
	max-width: 100%;
}
 
img#main_img {
	margin-left: 80px;
}


/*------------------------------------------ #Header Styles ----------------------------------- */

li.navitems {
    display:inline-block;
	background-color: #464646;
	float: left;
	margin-right: 1px;
}

header nav ul {
	display: flex;
	list-style: none; /*-- Removes bullet points -- */
	margin: 0;
	padding: 0;
}

header nav ul li {
	position: relative;
	margin: 0;
	padding: 0;
	-o-transition:  all 0.1s;
	-ms-transition:  all 0.1s;
	-moz-transition:  all 0.1s;
	-webkit-transition:  all 0.1s;
	transition: all 0.1s;	/*-- Transition works on navigation - navigation items turn white from gray -- */
}
	
header nav ul li a {
	font: normal normal .875em Helvetica, Arial, Sans-Serif; /* font size 14/16 */
	color: #7d7d7d;
	display:block;
	letter-spacing: 1px;
	max-width: 100%;
	padding: 15px 25px;
	text-align: center;
	text-decoration: none;
	-o-transition: all 1s ease 0s;
	-ms-transition: all 1s ease 0s;
	-moz-transition: all 1s ease 0s;
	-webkit-transition: all 1s ease 0s;
	transition: all 1s ease 0s; /*-- Transition works on navigation navigation items turn white from gray  property, duration, timing and delay all included.-- */
}
		
header nav ul li:hover {
				background: #d76817;
				
}

/*------------------------------------------ #Link Styles ----------------------------------- */

a:link {                    /*Link pseudo class selector*/
	color: #dadada;
}

a:hover {                  /*Hover pseudo class selector*/
    color: #fff;
}

a:active {               /*Active pseudo class selector*/
    color: #ffff00;
}

/*------------------------------------------ #Form Styles ----------------------------------- */

form label input {
	display: block;
	max-width: 100%;
	min-width: 50px;
}

section#contact {
    width: 50%;
    background: #00a6b6;
	border-radius: 5px;
    padding: 75px;
	margin: 60px 120px 0 120px;
	display: inline-block;
}

label {
	font: normal normal normal .875em Arial, Verdana, sans-serif;
	color: #fff;
    float: left;
    width: 200px;
    text-align: right;
    padding-right: 10px;
}

input#submit {
    font-size: 12px;
    color: #ffffff;
    background-color: #f26522;
    margin-left: 210px;
}

/*------------------------------------------ #Footer Styles ----------------------------------- */
footer {
	padding-top: 10.41667%; /* 10px/960px = 10.41667% */
	clear:both;
}

