/*
Marlon Torres
Filename: main.css
October 9, 2014
*/


/*------------------------------------------ #Page Styles ----------------------------------- */
body {
	font: 100%;  /*-- 100% = 16px --*/
	width: 100%;
	font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    background: #dadada;
	background-repeat: no-repeat;
   	padding: 0;
  	margin: 0;
}

#container {
	position: relative;
	background-color: #dadada;
    max-width: 960px;
    margin: 1% auto 1% auto;
    padding: 20px;
}

div#logo {
	float: left;
}

.navbar.navbar-inverse{
	float: right;
	margin-top: 25px;
	margin-right: 20px;
}

section#cta {	
	margin-top: 150px;
}

section {
	clear: both;
}

div#col1 {
	width: 26.041667%;
	height: 200px;
	background: #00a6b6;
	float: left;
	margin: 10px 30px 0 30px;
	border-radius: 5px;
	text-align: center;
}

div#col2 {
	width: 26.041667%;
	height: 200px;
	background: #00a6b6;
	float: left;
	margin: 10px 30px 0 30px;
	border-radius: 5px;
	text-align: center;
}

div#col3 {
	width: 26.041667%;
	height: 200px;
	background: #00a6b6;
	float: left;
	margin: 10px 30px 0 30px;
	border-radius: 5px;
	text-align: center;
	clear: right;
}

aside#socialmedia img{
	float: right;
	padding-right: 10px;
}

aside{
	margin-right: 15px;
}

.btn.btn-primary.btn-lg {
	margin-left: 400px;
}

.ctrtxt {
	text-align: center;
}

#signup {
	text-align: center;
}

/*------------------------------------------ #Image Styles ----------------------------------- */
img {
	max-width: 100%;
}

.img-ctr {
	display: block;
    margin-left: auto;
    margin-right: auto;
}

/*------------------------------------------ #Form Styles ----------------------------------- */


section#contact {
    width: 75%;
    background: #00a6b6;
	border-radius: 5px;
    padding: 10px;
	margin: 10px 120px 0 120px;
	display: inline-block;
}

label {
	font: normal normal normal .875em Arial, Verdana, sans-serif;
	color: #fff;
    float: left;
    width: 200px;
    text-align: left;
    padding-right: 50px;
}

input#submit {
    font-size: 12px;
    color: #ffffff;
    background-color: #f26522;
    margin-left: 210px;
}

/*------------------------------------------ #Footer Styles ----------------------------------- */
footer {
	padding-top: 10.41667%; /* 10px/960px = 10.41667% */
	clear:both;
	text-align:center;
}

